h1{
    color:rgb(126, 162, 196);
}
h2{
    color:rgba(0, 24, 77, 0.979);
}
/*selctor de clase*/
.oscuro{
    background-color: rgb(98, 118, 161);
    color: white;
}
/*Selector ID*/
#biografia{
    background-color: rgb(129, 181, 248);
    color:black;
}